html {
    scroll-behavior: smooth;
}

body {
    background-color: #FFF8EA;
    background-image: url("images/bg_texture.png");
    background-repeat: repeat;
    background-size: auto;         
    background-attachment: scroll; 
    margin: 0;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/* STUFF BELOW ARE FONTS AND TEXT STYLES */

h1, h2, h3, .bodytext, .handwritten {
    color: #FFF8EA;
}

h1 {
    font-family: "Inria Serif", serif;
    font-weight: 400;
    font-style: normal;
    font-size: clamp(40px, 4vw, 56px);
}

h3 {
    font-family: "Inria Serif", serif;
    font-weight: 300;
    font-style: italic;
    font-size: clamp(16px, 3vw, 20px);
}

.bolded {
    font-weight: 700;
}

.bodytext {
    font-family: "Inika", serif;
    font-weight: 400;
    font-style: normal;
    font-size: clamp(16px, 3vw, 20px);
}

h2, .logo {
    font-family: "Inria Serif", serif;
    font-weight: 700;
    font-style: normal;
}

h2 {
    font-size: clamp(30px, 4vw, 36px)
}

.logo {
    font-size: clamp(16px, 4vw, 28px);
    color: #31281E;
    white-space: nowrap;
}

/* NAVIGATION BAR RELATED */

.navbar {
    position: sticky;
    z-index: 1;
    top: 0;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    flex: 1;
    min-width: 0;
    justify-content: center;
    align-items: center;
    gap: 33px;
    padding: 0px;
    list-style-type: none;
    background-color: #FFF8EA;
    white-space: nowrap;
}

.navbar li:not(.logo) {
    color: #31281E;
    font-size: clamp(18px, 2vw, 20px);
}

.navbar a {
    text-decoration: none;
    color: #31281E;
    transition: all 0.2s ease 0s;
}

.navbar a:hover {
    color: #a46c2d;
}

.dropdown {
    position: relative;
}

.dropdown a {
    display: block;
    padding: 20px 15px;
}

.dropdown .content {
    display: none;
    position: absolute;
    z-index: 10;
    min-width: clamp(60px 5vw 100px);
    background-color: #FFF8EA;
    box-shadow: -2px 0 10px rgba(0,0,0,0.2);
}

.dropdown:hover .content {
    display: block;
}

.dropdown:hover>a {
    background-color: #F6E0B0;
    color: #a46c2d;
}

.dropdown .content a:hover {
    background-color: #F6E0B0;
}

@media (max-width: 900px) {
    .navbar ul {
        gap: 2rem;
        padding: 8px;
        flex-wrap: nowrap;
    }

    .navbar ul .dot {
        display: none;
    }
}

.nav-link {
    display: inline-block;
}

#sidebar {
    display: none;
}

.dropdown .content {
    position: absolute;
    font-size: 16px;
    box-shadow: none;
}

@media (max-width: 720px) {
    .navbar ul {
        justify-content: space-between;
        align-items: center;
    }

    #sidebar {
        display: inline-block;
        cursor: pointer;
        z-index: 100;
    }

    .nav-link {
        display: none;
    }
}

/* Random animation thing */

@keyframes shake {
    0%   { transform: translate(0, 0) rotate(0deg); }
    25%  { transform: translate(5px, 5px) rotate(5deg); }
    50%  { transform: translate(0, 0) rotate(0deg); }
    75%  { transform: translate(-5px, 5px) rotate(-5deg); }
    100% { transform: translate(0, 0) rotate(0deg); }
}

.fade-in {
  opacity: 0;                  /* start invisible */
  transform: translateY(20px); /* slight slide up */
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}

/* Hero Elements */

.hero {
    position: relative;
    background-color: #31281E;
}

.rect-line {
    height: 29px;
    width: 100%;
    background-color: #F6E0B0;
    margin: 18px 0px;
    z-index: -1;
}

.hero .me {
    position: absolute;
    z-index: 0;
    top: 35vh;
    left: 8vw;
    display: inline-block;
}

.hero .me:hover, .skills img:hover { 
    animation: shake 0.4s infinite;
}

.underlined {
    transition: width 0.25s ease-out;
}

.hero .content {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4vh 8vw 4vh 16vw;
    gap: 4vw;
}

.hero .content .herotext {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4vh;
    padding: 0 2vw;
}

@media (max-width: 930px) {
    .hero .content {
        flex-direction: column-reverse;
        padding: 10vh 14vw;
        gap: 6vw;
    }

    .hero .me {
        position: absolute;
        z-index: 0;
        top: 75vh;
        left: 14vw;
    }

    .hero .content img {
        max-width: 100%;
        height: auto;
    }
}

@media (max-width: 750px) {
    .hero .me {
        display: none;
    }
}

/* Button stuff */

.img-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    transition: all 0.2s ease 0s;
}

.img-button:hover {
    transform: scale(1.1);
}

/* Skills section */

.skills {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12vw;
    margin: 14vh 0;
}

@media (max-width: 720px) {
    .skills {
        flex-direction: column;
    }
}

/* Portfolio section */
.portfolio {
    position: relative;
}

.projects {
    display: flex;
    flex-direction: column;
    gap: 12vh;
    position: relative;
    top: 0;
    width: 100%;
    background-color: #887E3B;
    padding: 12vh 0 18vh 0;
}

.projects .item {
    padding: 6vh 12vw;
    width: 100%;
    background-color: #686131;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6vw;
}

.projects h1.professional {
    margin-left: 12vw;
}

.projects h1.personal {
    text-align: right;
    margin-right: 12vw;
}

.projects .professional.item {
    flex-direction: row
}

.projects .personal.item {
    flex-direction: row-reverse;
}

.projects .item .visuals, .projects .item .text {
    display: flex;
    flex-direction: column;
}

.projects .item .visuals {
    align-items: center;
    gap: 24px;
}

.projects .item .text {
    text-align: right;
    gap: 35px;
}

.projects .personal.item .text {
    text-align: left;
    gap: 35px;
}

@media (max-width: 1200px) {
    .projects .personal.item, .projects .professional.item {
        flex-direction: column-reverse;
    }

    .projects .item .text, .projects .personal.item .text {
        text-align: center;
    }

    .projects h1.professional {
        text-align: center;
        margin: 0 12vw;
    }

    .projects h1.personal {
        text-align: center;
        margin: 0 12vw;
    }
    
    .projects .item .visuals img {
        max-width: 100%;
        height: auto;
    }
}

/* About section */

.about-me {
    position: relative;
    margin: 12vh 18vw;
}

.about-me * {
    color: #31281E;
    text-align: center;
}

.about-me .content, .about-me .content .text .about-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6vw;
}

.about-me .content {
    margin: 6vh 0;
}

.about-me .text {
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    align-items: center;
}

@media (max-width: 900px) {
    .about-me .content {
        flex-direction: column;
    }

    .about-me .content img {
        max-width: 100%;
        height: auto;
    }
}

/* Footer section */

footer {
    width: 100%;
    position: relative;
}

.rect-footer {
    height: 300px;
    width: 100%;
    background-color: #31281E;
    margin: 18px 0px 0px 0px;
    z-index: -1;
}

footer .contact {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 105px;
}

footer .contact .buttons {
    display: flex;
    flex-direction: row;
    gap: 4vw;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin-top: 50px;
    flex-wrap: nowrap;
}

.footer-dot {
    display: inline-block;
}

@media (max-width: 880px) {
    .footer-dot {
        display: none;
    }
}

@media (max-width: 680px) {
    footer .contact .buttons {
        flex-direction: column;
    }

    .rect-footer {
        height: 550px;
    }
}

/* OTHER SUB-PAGES!!! */

.test {
    background-color: #FFF8EA;
    background-image: url("images/test-img.png");
    background-repeat: no-repeat;
    background-size: 100%;         
    margin: 0;
}