/* overlay boilerplate */

.overlay-bg {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.436);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}

.close-overlay {
    background-color: var(--red);
    transition: all 0.2s ease 0s;
    color: white;
    position: sticky;
    top: 0;
    padding: 10px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    margin: 0 -40px -6vh 0;
    border-radius: 6px;
    border: none;
    z-index: 100;
    line-height: 1;
}

.close-overlay:hover {
    background-color: #ab280e;
}

/* css for NORMAL overlay format*/

.overlay-content {
    border-radius: 12px;
    border: 8px solid var(--green);
    width: 85vw;
    max-height: 90vh;
    padding: 4vh 6vw 8vh 6vw;
    overflow-y: auto;
    filter: drop-shadow(#383838 2px 6px 6px);
    gap: 4vh;
}

.project-info {
    flex: 1;
    justify-content: space-between;
    align-items: center;
    margin: 4vh 0;
    gap: 4vw;
}

.info-text {
    gap: 3vh;
    min-width: 0;
}

.half-img {
    width: 40%;
    height: auto;
    object-fit: cover;
}

.overlay-content img:not(.half-img) {
    border-radius: 12px;
    border: 2px solid black;
}

/* css for alternate overlay formats */

.normal,
.models {
    scrollbar-color: var(--light-blue) var(--light-gray);
    background-color: white;
}

.watchtower,
.cloverknots {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.blink-container {
    gap: 3vw;
    justify-content: center;
    max-width: 30%;
    align-self: center;
}

.watchtower {
    background-color: rgb(38, 38, 56);
    scrollbar-color: rgb(22, 22, 35) rgb(76, 76, 102);
    color: white;
    background-image: url("/watchtower/bg.webp");
    border: 8px solid rgb(8, 8, 15);
}

.cloverknots {
    scrollbar-color: rgb(89, 116, 39) rgb(183, 195, 131);
    background-image: url("/cloverknots/bg.webp");
    background-color: rgb(255, 244, 228);
    border: 8px solid rgb(81, 96, 14);
}

.quantum {
    background-color: rgb(18, 18, 23);
    scrollbar-color: rgb(8, 8, 65) rgb(80, 80, 110);
    color: white;
    border: 8px solid rgb(8, 8, 15);
}

.models .model,
.models Canvas {
    border-radius: 12px;
    background-color: var(--light-blue);
    background-image: radial-gradient(#ffffff 1px, transparent 1px);
    background-size: 20px 20px;
}

.models .model {
    width: 100%;
    height: 70vh;
    border: 2px solid black;
}

/* media queries */

@media (max-width: 768px) {
    .half-img {
        display: none;
    }

    .project-info {
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .project-info .keywords {
        align-self: center;
    }

    .overlay-content {
        max-height: 75vh;
    }

    .close-overlay {
        margin: 0 -20px -6vh 0;
    }
}