html {
  scroll-behavior: smooth;
}

:root {
  --cream: #FFF8EA;
  --gold: #F3D38C;
  --gold2: #BD894D;
  --gold3: #95653B;
  --gold4: #6B4625;
  --dark-green: #303D00;
  --red: #DF3E1E;
  --orange: #ea5e07;
  --pink: #ef4357;
  --green: #747f23;
  --greenblue: #009f85;
  --cyan: #0097c5;
  --blue: #4E69F0;
  --indigo: #5142d6;
  --light-gray: #E4E9FF;
  --light-blue: #B6C2FF;
}

body {
  background-color: var(--cream);
  background-image: url("/bg-texture.webp");
  background-repeat: repeat;
  min-width: 320px;
  min-height: 100vh;
  color: var(--dark-green);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 400;
}

/* Font styles */
h1 {
  font-family: 'Irish Grover', serif;
  font-size: clamp(4rem, 6vw, 7rem);
}

h2 {
  font-family: 'Maiden Orange', serif;
  font-size: clamp(2rem, 3vw, 3.5rem);
}

h3 {
  font-family: 'Maiden Orange', serif;
  font-size: clamp(1.5rem, 1.7vw, 2rem);
}

h4 {
  font-family: 'Irish Grover', serif;
  font-size: clamp(3rem, 5vw, 4.5rem);
}

p {
  font-family: 'Zen Kurenaido', sans-serif;
  font-size: clamp(1.1rem, 1.25vw, 1.5rem);
}

a {
  color: inherit;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.font-red {
  color: var(--red);
}

img {
  max-width: 100%;
  height: auto;
}

/* high-level structural CSS */

.navbar {
  position: fixed;
  z-index: 10;
  width: 24vw;
  height: 100vh;
  top: 0;
}

.intro {
  width: 70vw;
  height: auto;
  margin: 10vh 8vw 0 auto;
  align-items: center;
  gap: 0vw;
  display: flex;
  flex-direction: row;
  flex: 1;
}

.intro-text {
  gap: 3vh;
  margin-top: 7vh;
}

.intro-text .flex-row {
  gap: 0.7vw;
}

.footer {
  width: 100%;
  height: 40vh;
}

.footer-text {
  margin: 8vh 3vw 0 auto;
  gap: 4vh;
  text-align: right;
}

/* Media breakpoints for responsive screen sizes */

/* mobile */
@media (max-width: 480px) {
  .logo {
    display: none;
  }
  .intro {
    background-color: #0097c5;
  }
}

/* tablet */
@media (max-width: 768px) {
  .intro {
    flex-direction: column;
    margin: 10vh auto;
    gap: 4vh;
    justify-content: center;
    align-items: center;
  }

  .intro-text {
    text-align: center;
    justify-content: center;
    margin: auto;
  }

  .intro .hover-container {
    max-width: 80%;
    align-self: center;
  }

  .navbar {
    display: none;
  }

  .intro-text .flex-row {
    align-self: center;
  }

  .footer-text {
    margin: 8vh 6vw;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

/* small laptop */
@media (max-width: 1024px) {}